@import "tailwindcss";

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@utility glass-panel {
  @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
}

@utility glass-card {
  @apply bg-white/80 backdrop-blur-sm border border-gray-100 shadow-sm hover:shadow-md transition-all duration-300;
}