
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827; /* gray-900 */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}
