@import "tailwindcss";

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@utility glass-panel {
  @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
}

@utility glass-card {
  @apply bg-white/80 backdrop-blur-sm border border-gray-100 shadow-sm hover:shadow-md transition-all duration-300;
}

/* PREMIUM SCROLLBAR & SELECTION */
::selection {
  background-color: #f97316;
  /* orange-500 */
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  /* slate-100 */
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* slate-300 */
  border-radius: 5px;
  border: 2px solid #f1f5f9;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  /* slate-400 */
}